  /* Text Size Classes */
.page-title {
    font-size: 22px;
    line-height: normal;
	color: #618CA4;
	padding-bottom: 15px;     
}

.errors{
color: red;
font-weight: bold;
}

.set-img {
    padding-left: 100px;
}
.form-signin{
	text-align: center;
}