*
img	{ vertical-align: middle; -ms-interpolation-mode: bicubic; 
    
  
}
svg:not(:root)			{ overflow: hidden; }
.clearfix:after					{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix 				{ zoom: 1; }
*:first-child+html .clearfix	{ zoom: 1; }
.cleaner 						{ height: 0; line-height: 0; clear: both; }
.testimonials-carousel-thumbnail img {
    border-radius: 50%;
    width: 50px;
}